@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TuffyHealth</h1>
</div>
<!-- this is the start of content -->
<html>
    <head>
      
        <style>
            body {
                background-image: url('/Home/Projectlogo.jpg');
            }
        </style>
    </head>

    <body>
        <!-- this is the start of content -->
    
        <div class="login-div">
            <div class="logo">
                <a href="https://ibb.co/kKL5LL9">
                    <img src="https://i.ibb.co/JnYmYYy/Projectlogo.jpg" alt="Projectlogo" border="0">
                </a>
                <br />
            </div>

        </div>
    </body>
</html>