@model IEnumerable<TuffyHealthNew.Models.PatientLogs>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table, th, td {
        border: 3px solid black;
    }
</style>

<h1>Vaccinations</h1>

<img alt="vacination" src="/img/vaccines.png" width="475" align="right">


<table class="vaccines" height="50%" width="50%" align=center cellpadding="10" background-color="white">
    <thead>
        <tr style="background-color:#C0C0C0;color:#000000;">
            <th>
                <p>Date</p>
            </th>
            <th>
                <p>Vaccine</p>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dosage)
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="background-color:#ffffff;">
                    @Html.DisplayFor(modelItem => item.Patient_log_date)
                </td>
                <td style="background-color:#ffffff;">
                    @Html.DisplayFor(modelItem => item.Treatments.TreatmentName)
                </td>
                <td style="background-color:#ffffff;">
                    @Html.DisplayFor(modelItem => item.Dosage)
                </td>


            </tr>
        }
    </tbody>
</table>
